.background {
  background: url("/assets/images/customerServiceBackground.jpg") no-repeat
    center center/cover;
  background-attachment: fixed;
  height: 900px;
  padding: 50px;
  font-family: "Times New Roman", Times, serif;
}

.card {
  background: transparent;
  border-color: rgb(248, 153, 219);
}

.card-body {
  margin-top: 2rem;
  margin-left: 40px;
}

.card-img-top {
  width: 65px;
  text-align: right;
  margin-bottom: 5rem;
}

h6 {
  margin-bottom: 2rem;
}

.form-group {
  padding-left: 30px;
  padding-bottom: 30px;
}

.btn-dark {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  margin-left: 1rem;
  width: 100px;
  margin-top: 1rem;
  text-align: center;
}

p {
  margin-top: 10px;
  margin-left: 1rem;
}
