/* Navigation bar */
.logo,
svg {
  vertical-align: middle;
  height: 50px;
  width: 50px;
}

.navbar .grid-0 {
  flex-grow: 0 !important;
  align-items: center;
}

.navbar .form-control {
  width: 200px;
}

/* Caresoul */

.carousel-inner img {
  height: 80vh;
  width: 100%;
}

.container {
  background-color: rgb(244, 223, 243);
}
.container .card-body {
  background-color: white;
}

/* Login and Registration page */

.card {
  background-color: rgb(249, 188, 119);
}
.card .btn {
  background-color: rgb(244, 223, 243);
}

.img-fluid {
  height: 160px;
  width: 150px;
}

.form-control {
  background-color: #fff;
}

label,
.forget {
  color: black;
  font-weight: bold;
}
.register {
  color: black;
  font-weight: bold;
}

.grid {
  background-color: rgb(223, 223, 230);
}

.footer {
  background-color: rgb(223, 223, 230);
}

.footer-img,
.footer-img-top {
  vertical-align: middle;
  height: 50px;
  width: 50px;
}

.footer {
  margin-top: 10px;
}
