.card {
  background-color: rgb(180, 180, 180);
  width: 400px;
}

.img-fluid {
  height: 140px;
  width: 130px;
}

a {
  margin-top: 20px;
  color: black;
}

.checkbox{
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 200px;
}