
.card {
  background-color: rgb(180, 180, 180);
}

.img-fluid {
  height: 160px;
  width: 150px;
}

.button{
  background-color: #565555;
}

label,
.forget {
  
}
.register {
  color: rgb(0, 0, 0);
}
