/* Navigation bar */
img, svg {
  vertical-align: middle;
  height: 50px;
  width: 50px;
}









/* Login and Registration page */

.card{
  background-color: rgb(249, 188, 119);
}

.img-fluid {
  height: 160px;
  width: 150px;
}

.form-control {
  background-color: #fff;
}
label,
.forget {
  color: black;
  font-weight: bold;
}
.register{
  color: black;
  font-weight: bold;
}
