/* Navigation bar */
.logo,
svg {
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
.navbar {
  background-color: aqua;
}
.navbar .grio-0 {
  flex-basis: 0;
  flex-grow: 0 !important;
  align-items: center;
}
/* Login and Registration page */

.card {
  background-color: rgb(249, 188, 119);
}

.img-fluid {
  height: 160px;
  width: 150px;
}

.form-control {
  background-color: #fff;
  
}
.navbar .form-control{
  width: 200px;
}
label,
.forget {
  color: black;
  font-weight: bold;
}
.register {
  color: black;
  font-weight: bold;
}
.carousel-inner img {
  height: 80vh;
  width: 100%;
}
